<% include partials/header %>

<div class="container">
  <div class="jumbotron">
    <h1>This is the Index page</h1>
    <a class="btn btn-primary" href="/blogs/new">Create A New Post</a>
  </div>
</div>
<% blogs.forEach((blog) => { %>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 snippet">
        <h3><%= blog.title %></h3>
        <div class="row">
          <div class="col-md-3">
            <img class="img-responsive img-rounded" src="<%= blog.image %>">
          </div>
          <div class="col-md-9">
            <div class="caption snippet-text">
              <h4><strong><%= blog.created.toDateString() %></strong></h4>
              <strong><em>Created by Ryan</em></strong>
              <p><%= blog.body.substring(0, 100) %>...</p>
              <a href="/blog/<%= blog._id %>">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% }); %>
</div>


<% include partials/footer %>
